<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('partials/head') %>
     <link rel="stylesheet" href="/Css/form.css">
     <title>Creaden</title>
</head>

<body>
     <!-- formulario de ingrreso -->
               <%- include('partials/formLogin')%>
               <input type="submit" value="Iniciar Sesion">
               <a href="register">Registrarse</a>
          </form>
     </section>
</div>
<script src="/Js/ingrreso.js"></script>
<script>
     if(<%= inicio%>) alert('inicio exitoso');
     if(<%= cancel%>) alert('algo anda mal');
</script>
</body>

</html>