<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('partials/head') %>
     <title>Document <%= 23%></title>
</head>

<body>
     <!-- formulario de ingrreso -->
               <%- include('partials/formLogin')%>
               <input type="submit" value="Iniciar Sesion">
          </form>
     </section>
</div>
</body>

</html>