<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('partials/head')%>
     <link rel="stylesheet" href="/Css/userSpace.css">
     <title>Document</title>
</head>
<body>
     <div class="userSpaceConteiner">
          <div class="userPostArea">
               <img src="/Img/userImage.jfif" alt="" class="userImage">
               <span class="time">11:11:11</span>
               <p class="userName">User Default</p>
          </div>
          <div class="userTextArea">
               <div  contenteditable="true"  class="userText"></div>
               <button class="toPost">Enviar</button>
          </div>
          <div class="userPublicationArea">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repudiandae officiis exercitationem consequatur deleniti eius iste reiciendis magni dicta nisi soluta voluptatem, consequuntur quae expedita incidunt earum quo ut perspiciatis.</p>
          </div>
     </div>
</body>
</html>