@charset "UTF-8";
.userSpaceConteiner {
  background-color: #FFF;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 2px 2px rgba(238, 238, 238, 0.3);
          box-shadow: 5px 5px 2px 2px rgba(238, 238, 238, 0.3);
}

.userImage {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.userPostArea {
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.userPostArea .userInformation {
  margin-top: 20px;
  margin-left: 20px;
  width: 80%;
}

.userPostArea .salir {
  font-size: 40px;
}

.userTextArea {
  padding: 20px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.userTextArea .toPost {
  height: 40px;
  width: 60px;
  background: none;
  border: none;
  font-size: 40px;
}

.userTextArea .toPost:hover {
  color: #aaa;
  cursor: pointer;
}

.userTextArea .toPost:active {
  color: #eee;
}

.userTextArea form input[type="text"] {
  display: none;
}

.userTextArea .userText {
  width: 90%;
  border-bottom: 1px solid black;
  cursor: text;
  outline: none;
  margin-left: 10px;
}

.userTextArea .userText:empty::before {
  position: absolute;
  content: "Escribe aquí...";
}

.userPublicationArea {
  width: 100%;
  background-color: #fff;
  height: 70%;
  border-radius: 0  0 15px 15px;
  overflow: scroll;
  overflow-x: hidden;
  border: none;
}

.userPublicationArea::-webkit-scrollbar {
  width: 10px;
  /* Tamaño del scroll en vertical */
  border-bottom-right-radius: 15px;
  background-color: #fff;
}

.userPublicationArea::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.2);
}

.userPublicationArea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.userPublicationArea .userPost {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.userPublicationArea .userPost .userPostArea {
  width: 100%;
  border: none;
  padding-bottom: 0;
}

.userPublicationArea .userPost .userPostArea .userImage {
  border: none;
}

.userPublicationArea .userPost .userPostArea .userInformation {
  border: none;
}

.userPublicationArea .userPost .userPostArea button {
  margin-left: 20px;
  background: none;
  border: none;
  font-size: 20px;
}

.userPublicationArea .userPost .userText {
  padding: 0 20px;
}
/*# sourceMappingURL=userSpace.css.map */