@charset "UTF-8";
.animate__animated .animate__backInDown {
  --animate-duration: 0.5s;
}

.animate__animated .animate__bounce {
  --animate-duration: 2.5s;
}

.animate__animated .animate__bounceInDown {
  --animate-duration: 0.5s;
}

.animate__animated .animate__bounceInUp {
  --animate-duration: 0.5s;
}

.userSpaceConteiner {
  background-color: rgba(255, 255, 255, 0.95);
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.3);
}

.userImage {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.userPostArea {
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.userPostArea .userInformation {
  margin-top: 20px;
  margin-left: 20px;
  width: 80%;
}

.userPostArea .salir {
  font-size: 40px;
  color: #52057b;
}

.userPostArea .salir:hover {
  color: red;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.userTextArea {
  padding: 20px;
  width: 100%;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.userTextArea .contenedorForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.userTextArea .contenedorForm .userText {
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -ms-flex-preferred-size: 2;
      flex-basis: 2;
  margin: 0%;
  margin-top: 25px;
  border-bottom: 1px solid black;
  cursor: text;
  outline: none;
  margin-left: 10px;
  margin-bottom: 5px;
}

.userTextArea .contenedorForm .userText:empty::before {
  position: absolute;
  content: "Escribe aquí...";
  padding: 0;
}

.userTextArea .contenedorForm .toPost {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 40px;
  width: 60px;
  background: none;
  border: none;
  font-size: 40px;
  color: #52057b;
}

.userTextArea .contenedorForm .toPost:hover {
  color: #000;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.userTextArea .contenedorForm .toPost:active {
  color: #888;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.userTextArea .contenedorForm form {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.userTextArea .contenedorForm form input[type="text"] {
  display: none;
}

.userTextArea .contenedorForm form input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.userTextArea .contenedorForm form label[for="image"] {
  margin: 0 30px 0 20px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  background-color: #52057b;
  border-radius: 10px;
}

.userTextArea .contenedorForm form label[for="image"]:hover {
  background-color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.countLetter {
  margin: 0;
  margin-top: 40px;
}

.imageToPost {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  display: none;
  border: solid 1px #eee;
  border-radius: 15px;
  margin: 20px 0 10px 0;
  width: 250px;
  height: 250px;
}

.imageToPost:hover {
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  cursor: pointer;
}

.userPublicationArea {
  width: 100%;
  height: 70%;
  border-radius: 0 0 15px 15px;
  overflow: scroll;
  overflow-x: hidden;
  border: none;
  scroll-behavior: smooth;
}

.userPublicationArea::-webkit-scrollbar {
  width: 10px;
  /* Tamaño del scroll en vertical */
  border-bottom-right-radius: 15px;
  background-color: #fff;
}

.userPublicationArea::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.2);
}

.userPublicationArea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.userPublicationArea .userPost {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.userPublicationArea .userPost .userPostArea {
  width: 100%;
  border: none;
  padding-bottom: 0;
}

.userPublicationArea .userPost .userPostArea .userImage {
  border: none;
}

.userPublicationArea .userPost .userPostArea .userInformation {
  border: none;
}

.userPublicationArea .userPost .userPostArea button {
  margin-left: 20px;
  background: none;
  border: none;
  font-size: 20px;
  color: #52057b;
}

.userPublicationArea .userPost .userPostArea button i:hover {
  color: #000;
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.userText {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 30%;
}

.userText img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.userText img:hover {
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  cursor: pointer;
}

.colorDiferent {
  background-color: rgba(56, 0, 73, 0.1);
}

.conteinerHidden {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 2;
}

.conteinerVisible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.imageBig {
  width: 55%;
  height: 70%;
  border-radius: 5% 5% 0 0;
  margin-bottom: -30px;
}

.pHidden {
  border-radius: 0 0 15px 15px;
  padding: 10px;
  background-color: rgba(110, 4, 172, 0.8);
  width: 55%;
  text-align: left;
  font-size: 30px;
  color: #fff;
}

@media (max-width: 950px) {
  .imageBig, .pHidden {
    width: 75%;
  }
  .userSpaceConteiner {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .userSpaceConteiner {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .imageBig, .pHidden {
    width: 85%;
  }
  .userText {
    margin-right: 10%;
  }
  .userSpaceConteiner {
    width: 90%;
  }
  .userImage {
    width: 80px;
    height: 60px;
    border-radius: 50px;
  }
  .userTextArea .contenedorForm {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .userTextArea .contenedorForm .userText {
    width: 100%;
  }
  .userTextArea .contenedorForm .toPost {
    margin-top: 30px;
  }
  .userTextArea .contenedorForm form {
    margin-top: 30px;
  }
}

@media (max-width: 300px) {
  .imgPost {
    height: 250px  !important;
    width: 100% !important;
  }
}

@media (max-height: 500px) {
  body {
    height: 600px;
  }
}
/*# sourceMappingURL=userSpace.css.map */