<div class="loginConteiner">
     <header class="loginHeader">
          <h1>CREADEN</h1>
     </header>
     <section class="loginFormConteiner">

          <form action="" class="loginForm">
               <img src="/Img/userLogo.png" alt="user logo">
               <div class="loginFormUser">
                    <label>Usuario: </label>
                    <input type="text" class="loginUserName">
               </div>
               <div class="loginFormPassword">
                    <label>Contrasena: </label>
                    <input type="password" class="loginUserPassword">
               </div>
               