<div class="loginConteiner animate__animated animate__bounceInUp">
     <header class="loginHeader">
          <h1>CREADEN</h1>
     </header>
     <section class="loginFormConteiner">

          <form action="" id="form" class="loginForm" method="POST">
               <img src="/Img/userLogo.png" alt="user logo">
               <div class="loginFormUser">
                    <label>Usuario: </label>
                    <input type="text" name="userName" class="loginUserName">
               </div>
               <div class="loginFormPassword">
                    <label>Contrasena: </label>
                    <input type="password" name="userPassword" class="loginUserPassword">
               </div>
               